// TODO: .banner .nav li {}
// TODO: .banner .nav a {}

header {
  font-size: 1.2em;
  position: fixed;
  line-height: 1.2em;
  top: 100px;
  left: 20px;
  right: 20px;
  z-index: 10;
}

.brand {
  display: inline-block;
  background: url(../images/hs.png);
  width: 80px;
  height: 70px;
}

nav ul li a {
  text-decoration: none;
  color: $color-hs-white;
  background-color: trasparent;
}

nav.nav-primary {
  width: 100%;
  margin-left: 80px;
  display: flex;
  align-items: center;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);

  ul {
    border-left: 2px solid $color-hs-white;
    list-style: none;
    position: absolute;
    line-height: 40px;
    margin-left: 20px;
    padding: 0;
  }

  li {
    display: block;
    float: left;
    margin-left: 1.2em;
  }

  a {
    text-transform: lowercase;
  }

  a:hover {
    color: $color-hs-white;
    text-decoration: underline;
  }
}

nav.nav-lang {
  position: absolute;
  right: 0;
  top: 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
  }

  ul li {
    display: inline-block;
  }

  ul li:first-child::after {
    content: "/";
    margin-right: -12px;
    color: $color-hs-white;
  }

  .current-lang > a {
    text-decoration: underline;
  }

  a:hover {
    color: $color-hs-white;
  }
}
